*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}

::selection {
    color: #fff;
    background-color: #EB6534;
}

.app{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('06c33348-a502-46ad-b0d8-f7fb40173f34.png') no-repeat center;
    background-size: cover;
}

h2{
    font-size: 9rem;
    color: #40476D;
    font-family: "Lovers Quarrel", cursive;
    font-weight: 400;
    font-style: normal;
}

.block-countdown {
    max-width: 60rem;
    width: 100%;
    z-index: 2;
    text-align: center;
    padding: 3rem;
    background-color: rgba(172, 190, 163, .85);
    border-radius: 1rem;
    margin: 0 2rem;
}

.block-countdown .countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 58rem;
    gap: 2rem;
    margin: 5rem auto;
}

.block-countdown .countdown .day, 
.block-countdown .countdown .hour, 
.block-countdown .countdown .min, 
.block-countdown .countdown .sec {
    color: #EB6534;
    text-align: center;
    min-width: 8rem;
}

.block-countdown .countdown .day .num, 
.block-countdown .countdown .hour .num, 
.block-countdown .countdown .min .num, 
.block-countdown .countdown .sec .num {
    display: block;
    font-size: 3.5rem;
    line-height: 1em;
    font-weight: 700;
}

.block-countdown .countdown .day .word, 
.block-countdown .countdown .hour .word, 
.block-countdown .countdown .min .word, 
.block-countdown .countdown .sec .word {
    display: block;
    font-size: 2rem;
    padding: 1.5rem 0 0 0;
}

.audio-player {
    width: 200px;
    background-color: rgba(172, 190, 163, .25);
    color: #fff;
    padding: .5rem 1rem .5rem;
    border-radius: 1rem;
    font-family: sans-serif;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.controls svg{
    fill: #40476D;
}

.progress-container {
    position: relative;
    height: 6px;
    background: #444;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 3px;
}

.progress {
    height: 100%;
    background: #00cc88;
    width: 0%;
    border-radius: 3px;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: -5px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    outline: none;
    background-color: #EB6534;
}

/* Estilo da barra preenchida (no Chrome) */
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: #AD5D4E;
  border-radius: 5px;
}

/* Estilo do "thumb" (bolinha) no Chrome */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #40476D;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px; /* Alinha verticalmente com a barra */
}

/* Firefox */
input[type="range"]::-moz-range-track {
  height: 6px;
  background: #ccc;
  border-radius: 5px;
}

input[type="range"]::-moz-range-progress {
  background: #EB6534;
  height: 6px;
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #EB6534;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

button {
    background: none;
    color: #EB6534;
    padding: 1rem;
    cursor: pointer;
    border: transparent;
}


@media (min-width: 768px) {
    .block-countdown .countdown {
        justify-content: space-between;
    }

    .block-countdown .countdown .day .num, 
    .block-countdown .countdown .hour .num, 
    .block-countdown .countdown .min .num, 
    .block-countdown .countdown .sec .num {
        font-size: 5.5rem;
    }
}